/* font-family: 'Bitter', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Acme', sans-serif; */


body {
  margin: 0;
  font-family: 'Bitter', serif;
  font-size: 16pt;
  background-image: linear-gradient(to bottom, floralwhite, lightsalmon);
  color: salmon;
  height: 100vh;
}

.radio {
  margin: 10px;
}

.navbar-container {
  margin-bottom: 50px;
  margin-left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.navbar-item {
  /* display: inline; */
  padding: 15px;
  border-bottom: solid 1px yellow;
  border-left: solid 1px linen;
  width: 100%;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16pt;
  background-color: salmon;
  color: linen;
  font-family: 'Bitter', sans-serif;
  font-size: 22pt;
}

.navbar-item:hover {
  opacity: 0.6;
  text-decoration: none;
}

.navbar-item:active {
  border-bottom: solid 5px linen;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: linen;
}

.button {
  padding: 6px;
  border-radius: 8px;
  background-color: salmon;
  color: linen;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 40%;
  font-family: 'Bitter', sans-serif;
  font-size: 12pt;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.non-nav {
  margin-left: 5px;
  text-align: center;
}

.result {
  font-size: 36pt;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}
