<h2> Click the button below to generate a new name! </h2>
<br>
<br>
<span class="radio">
  <input type="radio" name="gender" value="male"> Male
</span>
<span class="radio">
  <input type="radio" name="gender" value="female"> Female<br>
</span>
<br>
<button class="button" id="name-button"> <h1>Generate Name!</h1> </button>
<br>
<br>
<br>
<div id="name-result" class="result">
</div>
