<h2> Click the button below to generate a new plot! </h2>
<br>
<br>
<button class="button" id="plot-button"> <h1>Generate Plot!</h1></button>
<br>
<br>
<br>
<br>
<div id="plot-result" class="result">
</div>
